<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뷰티상품 진열소에 어서오세요~</title>
</head>
<body style="text-align:center">
    <h1 style="text-align:center">뷰티상품 진열소</h1>
    <table border="1" style="text-align: center;">
        <th>테이블</th>
        <th>만들기</th>
        <tr>
            <td>첫번째</td>
            <td>두번째</td>
            <td>세번째</td>
        </tr>
    </table>
</body>
</html>